html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #121212; /* Color oscuro gamer de fondo */
  color: #ffffff;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenedor-principal {
  flex: 1; /* Esto empuja el footer al fondo si el contenido es corto */
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}